# Project workspaces
dist/

# Error logs
npm-debug.log*

# Dependencies
/node_modules

# npm lockfile
# Ideally, you should include this on your own repo (to make sure your team members have the same
# version of all packages), but we've decided not to include it here since it's a starter kit.
# We suggest commenting this out when you're pushing to your own repo though.
/package-lock.json

# Misc files
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Any IDE files
/nbproject/
.idea/*

# Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
